.attbyterm {
    margin-top: 10px;
    max-width: 25%;
}

.att-norolltaken {
    background-color: rgba(219, 215, 215, 0.856);
}

section.block.block_attendance_report.card.mb-3 {
    width: 50%;
}

.att-ild {
    background-color: #f0e68c;
}

.att-mark-absent {
    background-color: #ffb6c1;
}

.att-mark-present {
    background-color: #d9f6d9;
}

.att-health-clinic {
    background-color: #b0e0e6;
}

.att-student-hub {
    background-color: #e9967a;
}

.att-excursion {
    background-color: #a9a9a9;
}

.att-late {
    color: red;
    font-weight: bold;
}

.clarification {
    text-align: left;
}

#rollmarking-primary td,
#rollmarking-primary th {
    border: 1px solid rgb(134, 134, 134);
}

table#rollmarking-primary {
    font-weight: bold;
    width: 50%;
}
tr.rollmarking-primary-header {
    background-color: #D9E8F6;
}

@media only screen and (max-width: 1024px) {
    section.block.block_attendance_report.card.mb-3 {
        width: 100%;
    }
}